/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

header {
  text-align: center;
  color: cyan;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: purple;
  color: white;
}

.current {
  background-color: blue;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.furnitureTable table {
  width: 100%;
  border-radius: 12px;
  border: 10px solid #006699;
  background-color: white;
  color: black;
}

.furnitureTable {
  background: #fff; 
  overflow: hidden; 
  background-color: teal;
}

.furnitureTable td {
  color:black;
  border-bottom: 1px solid teal;
}

.imgTd {
  text-align: center;
  width: 30%;
}


.furnitureTable b {
  color:blue;
}

.furnitureTable td img {
  width:100%;
}

/* Below is for sorting button for Furniture */

/* Dropdown Button */
.sortBtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.sortBtn:hover, .sortBtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.sortButton {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.furniDropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.furniDropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.furniDropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .furniDropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

table {
  width: 100%;
  border-radius: 12px;
  border: 10px solid #006699;
  background-color: white;
  color: black;
}

td {
  color:black;
  border: 2px solid black;
  border-bottom: 1px solid teal;
}

table,td {
  text-align: center;
}